<h2>New comment</h2>

<form id="form_id" action="index.html" method="post">
  <div class="form-group">
    <label for="text">Your thoughts:</label>
    {{textarea value=text id="text" class="form-control" rows="5"}}
  </div>
  <button class="btn btn-primary" {{action 'save'}}>Add your Comment</button>
</form>
